
.cf-vantagem {
    
    .vantagem-inner {
        
        .title {
            h1, h2, h3, h4, h5 {
                color: #10109E;
                font-weight: 600;
            }
        }

        .desc {
            font-size: .9rem;
            color: #4C516F;
        }
    }
}